@import "tailwindcss";

/* clerk userButton Adjust */

.cl-avatarBox{
width: 2rem;
height: 2rem;
}


/* Caruosel arrow */

.arrows{
    height: 40px;
    width: 40px;
    margin: 1px;
}


/* input color  */

input{
    background-color: #fff;
    accent-color: red;
    border:1px solid #ccc;
    color: #333;
}